

services:
  db:
    image: mysql:8.0
    container_name: local-ctf-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ctf-network

  redis:
    image: redis:7.0
    container_name: local-ctf-redis
    ports:
      - "6379:6379"
    networks:
      - ctf-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: local-ctf-backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: local
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      SPRING_SECURITY_USER_NAME: ${SPRING_SECURITY_USER_NAME}
      SPRING_SECURITY_USER_PASSWORD: ${SPRING_SECURITY_USER_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      GMAIL_USERNAME: ${GMAIL_USERNAME}
      GMAIL_APP_PASSWORD: ${GMAIL_APP_PASSWORD}
      API_KEY: ${API_KEY}
      API_URL: ${API_URL}
      BUCKET: ${BUCKET}
      LOCATION: ${LOCATION}
      PROJECT_ID: ${PROJECT_ID}
      GCP_JSON_FILE: ${GCP_JSON_FILE}
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gcp_service_account.json
      # ip 벤 디코봇 환경변수
      CTF_ALERT_ENABLED: "true"
      CTF_ALERT_ENDPOINT: ${CTF_ALERT_ENDPOINT}
      CTF_ALERT_API_KEY: ${CTF_ALERT_API_KEY}
      CTF_ALERT_ENVIRONMENT: "prod"
    ports:
      - "8080:8080"
    networks:
      - ctf-network

networks:
  ctf-network:
    driver: bridge
